* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: tahoma;
}

.header {
	background-image: linear-gradient(rgba(50,50,30,0.2), rgba(20,30,30,0.2)), url(images/header/image1.jpg);
	height: 77vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.title {
	padding-top: 150px;
}

.title h1 {
	color: beige;
	text-align: center;
	font-size: 400%;
	margin-bottom: 25px;
}

.title h1:hover {
	font-size: 70px;
}

.title h4 {
	color: beige;
	text-align: center;
	margin-bottom: 25px;
}

.nav {
	padding: 10px;
	margin: auto;
}

.navbar {
	background-color: #8e0e0e;
	position: sticky;
}

.nav li a {
	color: beige;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.nav .dropdown-menu .nav-item .nav-link {
	font-size: 90%;
	font-weight: bold;
	color: #e67e22;
}

.nav li a:hover {
	color: white;
	border-bottom: 2px solid white;
	transition: all 0.5s ease-in;
	margin: 5px;
}

.nav-hover:hover {
	color: white;
	border-bottom: 2px solid white;
	transition: all 0.5s ease-in;
	margin: 5px;
}

.para2, .bespoke1 {
	margin-bottom: 30px;
	font-size: 18px;
}

.para2 {
	width: 70%;
	margin-left: 15%;
	text-align: center;
}

.para3 {
	font-weight: normal;
}

.bespoke1 {
	width: 97%;
	text-align: left;
	margin-left: 3%;
	margin-top: 10px;
}

.bigPara {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.imgFormat {
	margin: 4% 0 4% 3%;
}

.imgCircle {
	width: 100%;
	border-radius: 50%;
}

.hcollapse {
	color: black;
	border: 2px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	pointer-events: auto;
}

.hcollapse:hover {
	color: #8e0e0e;
	border: 4px solid #8e0e0e;
}

h4 a:hover {
	text-decoration: none;
	color: #8e0e0e;
}

.hcollapse2 {
	color: #990000;
}

.experiencesBtn {
	padding: 5 0 5 0;
	width: 100%;
	font-size: 30px;
	pointer-events: auto;
	background-color: white;
	margin: 3% 2%;
}

.experiencesBtn:hover {
	color: #8e0e0e;
	border: 3px solid #8e0e0e;
} 

.experienceDetails {
	border: 1px solid lightgray;
	margin: 6% 3% 5% 6%;
	padding: 2%;
	display: none;
	max-height: 255px;
	overflow: scroll;
}

h3:after { 
	width: 100px;
	height: 2px;
	background-color: #8e0e0e;
	display: grid;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.portfolio {
	background-color: beige;
	padding-bottom: 60px;
}

.portfolio, .experiences, .intro, .contact, .why, h3 {
	padding-top: 60px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	font-size: 35px;
}

.contact, h3 {
	padding-top: 30px;
	padding-bottom: 50px;
	margin-bottom: 35px;
	font-size: 35px;
}

#carouselExampleIndicators {
      width: 70%;
      height: 40%;
      margin: auto;
      margin-bottom: 60px; 
}

.footer {
	background-color: #302925;
	height: 13vh;
	text-align: center;
}

.footer p {
	color:white;
}

.social {
	padding-top: 20px;
	padding-bottom: 10px;
}

@media (max-width: 1024px) {
	.title h1 {
		font-size: 490%;
		margin-top: 20%;
	}

	.title h1:hover {
		font-size: 550%;
	}

	.title h4 {
		font-size: 250%;
	}

	.para2 {
		width: 90%;
		margin: 10% 10% 10% 5%;
		margin-bottom: 30px;
		font-size: 25px;
	}

	.imgFormat {
		margin: 5% 0 2% 5%;
		width: 35%;
		display: inline-block;
	}

	.imgCircle {
		margin: 0 auto;
	}

	#carouselExampleIndicators {
		width: 100%;
		height: 100%;
  	}

  	.footer {
		padding-bottom: 90px;
	}

	.social img {
		width: 6%;
		height: 6%;
		margin: 0 2px 0 2px;
	}

	.copyright {
		font-size: 125%;
	}
}


@media (max-width: 575px) { 
	.navbar {
	background-color: #68042c;
	}

	.title h1 {
		font-size: 250%;
	}

	.title h1:hover {
		font-size: 280%;
	}

	.title h4 {
		font-size: 150%;
	}

	.para2 {
		width: 90%;
		margin: 10% 10% 10% 5%;
		margin-bottom: 30px;
		font-size: 18px;
	}

	.imgFormat {
		margin: 5% 0 2% 5%;
		width: 23%;
	}

 	.footer {
		padding-bottom: 105px;
	}

	.social img {
		width: 9%;
		height: 9%;
	}

	.copyright {
		font-size: 100%;
	}
}

@media (max-width: 300px) { 
	.title h1 {
		font-size: 195%;
	}

	.title h1:hover {
		font-size: 210%;
	}
}