* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: tahoma;
}

.header {
	background-image: linear-gradient(rgba(50,50,30,0.2), rgba(20,30,30,0.2)), url(images/header/image1.jpg);
	height: 77vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#scrollToTopBtn{
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #8e0e0e;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 25px;
	color: beige;
	z-index: 2;
}

.title {
	padding-top: 150px;
}

.title h1 {
	color: beige;
	text-align: center;
	font-size: 400%;
	margin-bottom: 25px;
	transition-property: font-size;
	transition-duration: 1s;
	transition-timing-function: linear;
	animation: bouncein 2s;
}

.title h1:hover {
	font-size: 70px;
}

@keyframes bouncein {
	0% {
		transform: scale(0.5);
	}
	66% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

.title h2 {
	color: beige !important;
	text-align: center;
	margin-bottom: 25px;
	animation: slidein 2s ease-in 0.95s backwards;
}

@keyframes slidein {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

.nav {
	padding: 10px;
	margin: auto;
}

.navbar {
	background-color: #8e0e0e;
	position: sticky;
}

.nav li a {
	color: beige;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.nav .dropdown-menu .nav-item .nav-link {
	font-size: 90%;
	font-weight: bold;
	color: #e67e22;
}

.nav li a:hover {
	color: white;
	border-bottom: 2px solid white;
	transition: all 0.5s ease-in;
	margin: 5px;
}

.nav-hover:hover {
	color: white;
	border-bottom: 2px solid white;
	transition: all 0.5s ease-in;
	margin: 5px;
}

.para2, .bigPara, .para2noanimation {
	width: 70%;
	margin-left: 15%;
	text-align: center;
}

.para2 {
	visibility: hidden;
}

.para2.active {
	width: 70%;
	margin-left: 15%;
	text-align: center;
	animation: slidein 2s;
	visibility: visible;
}

.para2, .para2noanimation, .bespoke1, .bigPara {
	margin-bottom: 30px;
	font-size: 18px;
}

.para3 {
	font-weight: normal;
}

.bespoke1 {
	width: 97%;
	text-align: left;
	margin-left: 3%;
	margin-top: 10px;
}

.bigPara {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.imgFormat {
	margin: 4% 0 4% 3%;
	display: none;
}

.imgFormat.active {
	margin: 4% 0 4% 3%;
	animation: scaled 2s 2s;
	display: inline-block;
}

.imgCircle {
	width: 100%;
	border-radius: 50%;
	visibility: hidden;
}

.imgCircle.active {
	width: 100%;
	border-radius: 50%;
	visibility: visible;
	animation: scaled 3s forwards;
}

@keyframes scaled {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	66% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

h2 a:hover {
	text-decoration: none;
	color: #8e0e0e;
}

.experiencesBtn {
	padding: 5 0 5 0;
	width: 100%;
	font-size: 30px;
	pointer-events: auto;
	background-color: white;
	margin: 3% 2%;
	transition-property: color;
	transition-property: border;
	transition-duration: 2s;
}

.experiencesBtn:hover {
	color: #8e0e0e;
	border: 3px solid #8e0e0e;
} 

.experienceDetails {
	border: 1px solid lightgray;
	margin: 6% 3% 5% 6%;
	padding: 2%;
	display: none;
	max-height: 255px;
	overflow: scroll;
}

h3:after { 
	width: 100px;
	height: 2px;
	background-color: #8e0e0e;
	display: grid;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.portfolio {
	background-color: beige;
	padding-bottom: 60px;
}

.portfolio, .experiences, .intro, .contact, .why, h3 {
	padding-top: 60px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	font-size: 35px;
}

.contact, h3 {
	padding-top: 30px;
	padding-bottom: 50px;
	margin-bottom: 35px;
	font-size: 35px;
}

#carouselExampleIndicators {
      width: 70%;
      height: 40%;
      margin: auto;
      margin-bottom: 60px; 
}

.footer {
	background-color: #302925;
	height: 13vh;
	text-align: center;
}

.footer p {
	color:white;
}

.social {
	padding-top: 20px;
	padding-bottom: 10px;
}

@media (max-width: 1024px) {
	.title {
		padding-top: 15%;
	}

	.title h1 {
		font-size: 390%;
		padding-top: 5%;
	}

	.title h1:hover {
		font-size: 410%;
	}

	.title h2 {
		font-size: 200%;
	}

	.para2 {
		width: 90%;
		margin: 10% 10% 10% 5%;
		margin-bottom: 30px;
		font-size: 25px;
	}

	.imgFormat {
		margin: 5% 0 2% 5%;
		width: 35%;
		display: none;
	}

	@keyframes noscaled {
		100% {
			transform: scale(1);
		}
	}
	
	.imgFormat.active {
		margin: 5% 0 2% 5%;
		width: 35%;
		display: inline-block;
		animation: noscaled 2s;
	}

	.imgCircle {
		margin: 0 auto;
	}

	#carouselExampleIndicators {
		width: 100%;
		height: 100%;
  	}

  	.footer {
		padding-bottom: 120px;
	}

	.social img {
		width: 4%;
		height: 4%;
		margin: 0 2px 0 2px;
	}

	.copyright {
		font-size: 125%;
	}
}

@media (max-width: 644px) {
	#scrollToTopBtn{
		right: 5px;
		bottom: 10px;
		width: 40px;
		height: 40px;
		font-size: 20px;
	}

	.title h1 {
		font-size: 340%;
		margin-top: 10%;
	}

	.title h1:hover {
		font-size: 360%;
	}

	.title h2 {
		font-size: 190%;
	}

	.footer {
		padding-bottom: 110px;
	}

}

@media (max-width: 575px) { 
	.navbar {
	background-color: #68042c;
	}

	.title h1 {
		font-size: 250%;
		margin-top: 20%;
	}

	.title h1:hover {
		font-size: 250%;
	}

	.title h2 {
		font-size: 150%;
	}

	.para2 {
		width: 90%;
		margin: 10% 10% 10% 5%;
		margin-bottom: 30px;
		font-size: 18px;
	}

	.imgFormat {
		margin: 5% 0 2% 5%;
		width: 23%;
	}

 	.footer {
		padding-bottom: 105px;
	}

	.social img {
		width: 5%;
		height: 5%;
	}

	.copyright {
		font-size: 100%;
	}
}

@media (max-width: 470px) {
	.social img {
		width: 6%;
		height: 6%;
	}
}

@media (max-width: 370px) {
	#scrollToTopBtn{
		display: none;
	}
	.social img {
		width: 7%;
		height: 7%;
	}
}

@media (max-width: 337px) {
	.title h1 {
		font-size: 220%;
		margin-top: 30%;
	}

	.title h1:hover {
		font-size: 220%;
	}
}

@media (max-width: 300px) { 
	.title {
		padding-top: 50%;
	}

	.title h1 {
		font-size: 195%;
		margin-top: 10px;
	}

	.title h1:hover {
		font-size: 195%;
	}
}